---
import LinkButton from "./LinkButton";
---

<div class="sticky top-0 text-emerald bg-white p-4 font-semibold shadow-md">
  <nav>
    <ul class="flex flex-row items-center">
      <li class="text-lg">
        <a href="/">Sai Yerni Akhil Madabattula</a>
      </li>
      <li class="ml-auto">
        <LinkButton
          type="button"
          iconType="info"
          buttonText="Info"
          href="/info"
        />
      </li>
      <li class="">
        <LinkButton type="button" iconType="globe" buttonText="Blog" href="https://blog.saiyerniakhil.in" />
      </li>
    </ul>
  </nav>
</div>
