---
export interface Props {
    title: string;
}

export enum Theme {
    DARK = "dark",
    LIGHT = "light",
}

// const theme: Theme = localStorage.getItem("theme") || "light";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/public/favicon_32x32.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- Google tag (gtag.js) -->
        <script
            type="text/partytown"
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-PJTJ3LHB7S"
        ></script>
        <script type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-PJTJ3LHB7S");
        </script>
    </head>
    <body class="bg-white">
        <slot />
    </body>
</html>
<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
    :root {
        --accent: 124, 58, 237;
        --white: "#ffffff";
        --midnightgreen: "#114B5F";
        --emerald: "#1A936F";
        --apple: "#88D498";
        --teagreen: "#C6DABF";
        --eggshell: "#F3E9D2";
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #da62c4 30%,
            white 60%
        );
    }
    html {
        font-family: "Open Sans", sans-serif, system-ui;
        background-color: #fff;
    }
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 70ch;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
